/* Welcome to Compass.
 * In this file you should write your variable (GLOBAL Setting) */

 // for width
 $maxWidth   : 1024px; // can be use as max width of the container

 // for fonts
 $header-font-family: 'montserrat', 'Helvetica', 'Arial', 'sans-serif';
 $content-font-family: 'roboto', 'Helvetica', 'Arial', 'sans-serif'; // default font families and error support for any html tags

 // for font sizes
 $fontSmall  : 12px;
 $fontMedium : 14px;
 $fontLarge  : 16px;
 $fontxLarge : 18px;
 $fontxxLarge: 20px;

 // for colors
 $brandColor01 : #b2c224; // primary brand color
 $brandColor02 : #2788b7; // secondary brand color
 $brandColor03 : #f15a29; // tertiary brand color
 $colorWhite          : #ffffff;
 $colorBlack          : #212121;

 // for margin and padding
 $spaceOne   : 10px;
 $spaceTwo   : 20px;
 $spaceThree : 30px;
 $spaceFour  : 40px;
 $spaceFive  : 50px;
