/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass.
 * In this file you should write your variable (GLOBAL Setting) */
/* Welcome to Compass.
 * In this file you should write your typography here. */
/* line 4, ../scss/impt/_typ.scss */
a {
  text-decoration: none;
  color: #212121;
}

/* line 10, ../scss/impt/_typ.scss */
.input-wrap input[type="text"] {
  width: 100%;
  padding: 0px 10px;
  outline: none;
  min-height: 24px;
  line-height: 24px;
  display: block;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  font-size: 14px;
  font-family: "roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  resize: none;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/*a,
span,
.btn,
.package-title,
.package-price,
.package-detail li,
.overlay,
.socials a,
.switch p,
.flex-manual  .switch,
.tab-title,
.tab-info,
.tab-desc,
.icon
 {  -webkit-transition: all 200ms ease-out; -moz-transition: all 200ms ease-out; -o-transition: all 200ms ease-out; transition: all 200ms ease-out; }
*/
/* line 33, ../scss/impt/_animate.scss */
.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 40, ../scss/impt/_animate.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
/* line 47, ../scss/impt/_animate.scss */
.owl-animated-out {
  z-index: 1;
}

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
/* line 52, ../scss/impt/_animate.scss */
.owl-animated-in {
  z-index: 0;
}

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 78, ../scss/impt/_animate.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 113, ../scss/impt/_animate.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 148, ../scss/impt/_animate.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 183, ../scss/impt/_animate.scss */
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 218, ../scss/impt/_animate.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 253, ../scss/impt/_animate.scss */
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 288, ../scss/impt/_animate.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 white;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 white;
    box-shadow: 0 0 0 0 white;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* Welcome to Compass.
 * In this file you should write your base styles for Wing Ipad. (or centralize your imports) */
/* line 4, ../scss/impt/_base.scss */
html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: "roboto", "Helvetica", "Arial", "sans-serif";
  background-color: #b2c224;
  color: #212121;
}

/* line 13, ../scss/impt/_base.scss */
* {
  box-sizing: border-box;
}

/* line 1, ../scss/pages/_index.scss */
.index {
  position: relative;
}
/* line 5, ../scss/pages/_index.scss */
.index .pulse:before {
  content: '';
  height: 120%;
  width: 120%;
  border-radius: 100%;
  animation: pulse 2s infinite;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -10%;
}
/* line 18, ../scss/pages/_index.scss */
.index .sequence {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2788b7;
  transition: all 0.2s linear;
  display: inline-block;
}
/* line 28, ../scss/pages/_index.scss */
.index .sequence.hide {
  right: -100%;
}
/* line 32, ../scss/pages/_index.scss */
.index .sequence h1 {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14vw;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
/* line 45, ../scss/pages/_index.scss */
.index .sequence .back {
  position: absolute;
  color: #ffffff;
  font-size: 2vw;
  top: 2vw;
  left: 2vw;
  z-index: 2;
  height: 6vw;
  width: 6vw;
  padding: 1vw;
  background: transparent;
  border-radius: 100%;
  border: 0.4vw solid #ffffff;
}
/* line 59, ../scss/pages/_index.scss */
.index .sequence .back img {
  width: 100%;
  margin-top: -5%;
}
/* line 66, ../scss/pages/_index.scss */
.index .sequence .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -2vh;
  z-index: 9;
  transform: translate(0, -50%);
}
/* line 76, ../scss/pages/_index.scss */
.index .sequence .owl-nav [class*='owl-'] {
  color: #ffffff;
  font-size: 5vh;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}
/* line 85, ../scss/pages/_index.scss */
.index .sequence .owl-nav [class*='owl-']:hover {
  text-decoration: none;
}
/* line 89, ../scss/pages/_index.scss */
.index .sequence .owl-nav [class*='owl-'] span {
  padding: 20px;
}
/* line 93, ../scss/pages/_index.scss */
.index .sequence .owl-nav .disabled {
  opacity: .3;
  cursor: default;
}
/* line 98, ../scss/pages/_index.scss */
.index .sequence .owl-nav .owl-prev {
  position: absolute;
  left: 2%;
}
/* line 103, ../scss/pages/_index.scss */
.index .sequence .owl-nav .owl-next {
  position: absolute;
  right: 2%;
}
/* line 108, ../scss/pages/_index.scss */
.index .sequence .owl-nav button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: none;
}
/* line 118, ../scss/pages/_index.scss */
.index .sequence .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
/* line 122, ../scss/pages/_index.scss */
.index .sequence .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: 5%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, 0);
}
/* line 131, ../scss/pages/_index.scss */
.index .sequence .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 136, ../scss/pages/_index.scss */
.index .sequence .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 40px;
}
/* line 149, ../scss/pages/_index.scss */
.index .sequence .owl-dots .owl-dot.active span, .index .sequence .owl-dots .owl-dot:hover span {
  background: white;
}
/* line 155, ../scss/pages/_index.scss */
.index .sequence .owl-dots button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: none;
}
/* line 165, ../scss/pages/_index.scss */
.index .desc {
  display: block;
  opacity: 0;
  position: absolute;
  margin-bottom: 29px;
  transform: translate(-50%, 0) scale(0) skew(50deg);
  transform-origin: 200px 230px;
  transition: transform ease-out .35s, opacity ease-out .4s;
  bottom: 100%;
  left: 50%;
  background-color: #ffffff;
  width: 26vw;
  padding: 2vw;
  border-radius: 16px;
  border: 5px solid #b2c224;
  box-shadow: 0 4px 10px rgba(33, 33, 33, 0.5);
  z-index: 1;
}
/* line 184, ../scss/pages/_index.scss */
.index .desc.reverse {
  bottom: auto;
  top: 100%;
  margin-top: 29px;
  margin-bottom: 0;
  transform: translate(-50%, 0) scale(0) skew(50deg);
  transform-origin: 200px -50px;
  transition: transform ease-out .35s, opacity ease-out .4s;
}
/* line 193, ../scss/pages/_index.scss */
.index .desc.reverse:before {
  top: -29px;
  border-top: 0;
  border-bottom: 29px solid #b2c224;
}
/* line 199, ../scss/pages/_index.scss */
.index .desc.reverse:after {
  top: -19px;
  border-top: 0;
  border-bottom: 20px solid #ffffff;
}
/* line 206, ../scss/pages/_index.scss */
.index .desc.active {
  opacity: 1;
  transform: translate(-50%, 0) scale(1) skew(0deg);
}
/* line 211, ../scss/pages/_index.scss */
.index .desc:before {
  content: '';
  position: absolute;
  bottom: -29px;
  left: 41.4%;
  width: 0;
  height: 0;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
  border-top: 29px solid #b2c224;
}
/* line 223, ../scss/pages/_index.scss */
.index .desc:after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
}
/* line 235, ../scss/pages/_index.scss */
.index .desc .open {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1vw;
}
/* line 241, ../scss/pages/_index.scss */
.index .desc img {
  float: left;
  margin-right: 5%;
  width: 8vh;
}
/* line 247, ../scss/pages/_index.scss */
.index .desc h2 {
  font-size: 3vh;
  color: #2788b7;
  margin-bottom: 10px;
}
/* line 253, ../scss/pages/_index.scss */
.index .desc > a {
  text-transform: uppercase;
  color: #212121;
}
/* line 259, ../scss/pages/_index.scss */
.index h1 {
  text-align: center;
  margin: auto;
  padding: 30px 0 0;
  position: relative;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
/* line 269, ../scss/pages/_index.scss */
.index h1 img {
  width: 10%;
}
/* line 274, ../scss/pages/_index.scss */
.index .map {
  width: 67vw;
  height: 52vw;
  margin: auto;
  position: relative;
}
/* line 280, ../scss/pages/_index.scss */
.index .map > img {
  width: 162%;
  margin: -23.4% -31%;
}
/* line 285, ../scss/pages/_index.scss */
.index .map .points {
  position: absolute;
  top: 41.7%;
  left: 70.7%;
  width: 5.7vw;
  user-select: none;
}
/* line 292, ../scss/pages/_index.scss */
.index .map .points > img {
  width: 100%;
}
/* line 296, ../scss/pages/_index.scss */
.index .map .points:after {
  content: '';
  height: 110%;
  width: 110%;
  border-radius: 100%;
  animation: pulse 5s infinite;
  animation-delay: 4s;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -5%;
}
/* line 312, ../scss/pages/_index.scss */
.index .info {
  margin: auto 5vw;
  position: absolute;
  width: 90vw;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
/* line 321, ../scss/pages/_index.scss */
.index .info .social-wrap {
  width: 25vw;
  position: absolute;
  left: 0;
}
/* line 326, ../scss/pages/_index.scss */
.index .info .social-wrap ul {
  display: block;
  overflow: hidden;
}
/* line 331, ../scss/pages/_index.scss */
.index .info .social-wrap li {
  float: left;
  margin-right: 10px;
}
/* line 335, ../scss/pages/_index.scss */
.index .info .social-wrap li a {
  background: transparent url("../images/sprt-socialmedia-01.png") no-repeat left top;
  height: 34px;
  width: 34px;
  display: inline-block;
  background-size: cover;
}
/* line 342, ../scss/pages/_index.scss */
.index .info .social-wrap li a.facebook {
  background-position: -43px top;
}
/* line 346, ../scss/pages/_index.scss */
.index .info .social-wrap li a.youtube {
  background-position: -85px top;
}
/* line 350, ../scss/pages/_index.scss */
.index .info .social-wrap li a.instagram {
  background-position: right top;
}
/* line 354, ../scss/pages/_index.scss */
.index .info .social-wrap li span {
  display: none;
}
/* line 360, ../scss/pages/_index.scss */
.index .info .social-wrap h2 {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}
/* line 370, ../scss/pages/_index.scss */
.index .info .social-wrap p {
  color: #ffffff;
  font-weight: bold;
}
/* line 374, ../scss/pages/_index.scss */
.index .info .social-wrap p span:first-child {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  padding-right: 10px;
}
/* line 383, ../scss/pages/_index.scss */
.index .info .app-wrap {
  width: 30vw;
  position: absolute;
  right: 0;
}
/* line 388, ../scss/pages/_index.scss */
.index .info .app-wrap .search {
  float: right;
  width: 67%;
  margin-right: 3%;
}
/* line 394, ../scss/pages/_index.scss */
.index .info .app-wrap .code {
  float: right;
  width: 30%;
}
/* line 398, ../scss/pages/_index.scss */
.index .info .app-wrap .code img {
  width: 100%;
  border-radius: 4px;
}
/* line 404, ../scss/pages/_index.scss */
.index .info .app-wrap h2 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 410, ../scss/pages/_index.scss */
.index .info .app-wrap ul {
  float: right;
  display: block;
  overflow: hidden;
  margin-top: 9px;
}
/* line 417, ../scss/pages/_index.scss */
.index .info .app-wrap li {
  float: right;
  width: 50%;
}
/* line 421, ../scss/pages/_index.scss */
.index .info .app-wrap li img {
  width: 97%;
}

/* line 2, ../scss/pages/_second.scss */
.second h2 {
  font-size: 14px;
  color: #2788b7;
}
